version: "3.9"

services:
  # --- Redis ---
   # --- Redis (optional fallback) ---
  redis:
    image: redis:7
    container_name: redis_fallback
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - backend
    profiles: ["fallback"]
  # --- Fallback Postgres ---
  db:
    image: postgres:15
    container_name: postgres_fallback
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5
    # This container will be started dynamically only if needed
    profiles: ["fallback"]

  # --- Microservices ---
  auth-service:
    build: ./services/auth
    container_name: auth_service
    env_file:
      - .env
    # depends_on:
    #   - redis
    ports:
      - "8001:8000"
    networks:
      - backend
    extra_hosts:
    - "host.docker.internal:host-gateway"

  user-service:
    build: ./services/user
    container_name: user_service
    env_file:
      - .env
    # depends_on:
    #   - redis
    ports:
      - "8002:8000"
    networks:
      - backend
    extra_hosts:
    - "host.docker.internal:host-gateway"

  mail-service:
    build: ./services/mail
    container_name: mail_service
    env_file:
      - .env
    # depends_on:
    #   - redis
    ports:
      - "8080:8081"
    networks:
      - backend

  api-gateway:
    build: ./services/api-gateway
    container_name: api_gateway
    env_file:
      - .env
    depends_on:
      - auth-service
      - user-service
      - mail-service
    ports:
      - "8000:8000"
    networks:
      - backend
    extra_hosts:
    - "host.docker.internal:host-gateway"

networks:
  backend:

volumes:
  pgdata:
